<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar class="navbar-custom">
    <div>
      <a mat-button routerLink=".">Game Buddy</a>
    </div>
    <div>
      <span
        ><a mat-stroked-button color="primary" routerLink="/matches"
          >Matches</a
        ></span
      >
      <span><a mat-stroked-button color="warn" routerLink="/add">Add</a></span>
      <span
        ><a mat-stroked-button color="warn" routerLink="/recent"
          >Recent</a
        ></span
      >
    </div>
  </mat-toolbar>

  <h1>Click Matches, Add or Recent on Navbar</h1>
</div>
<router-outlet></router-outlet>
