<div class="match-table">
  <h1>Add a Match</h1>
  <div
    class="input-row"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="20px"
    fxLayoutGap.lt-md="0px"
  >
    <form fxLayout="column" (ngSubmit)="submitHandler()" [formGroup]="addForm" [hidden]="success">
      <mat-form-field fxFlex style="width:50vw !important">
        <input matInput type="text" placeholder="Lane" formControlName="lane" />
      </mat-form-field>
      <mat-form-field fxFlex style="width:50vw !important">
        <input
          matInput
          type="number"
          placeholder="Game ID"
          formControlName="gameId"
        />
      </mat-form-field>
      <mat-form-field fxFlex style="width:50vw !important">
        <input
          matInput
          type="number"
          placeholder="Champion"
          formControlName="champion"
        />
      </mat-form-field>
      <mat-form-field fxFlex style="width:50vw !important">
        <input
          matInput
          type="text"
          placeholder="Platform ID"
          formControlName="platformId"
        />
      </mat-form-field>
      <mat-form-field fxFlex style="width:50vw !important">
        <input
          matInput
          type="number"
          placeholder="Queue"
          formControlName="queue"
        />
      </mat-form-field>
      <mat-form-field fxFlex style="width:50vw !important">
        <input
          matInput
          type="text"
          placeholder="Role"
          formControlName="role"
        />
      </mat-form-field>
      <mat-form-field fxFlex style="width:50vw !important">
        <input
          matInput
          type="number"
          placeholder="Season"
          formControlName="season"
        />
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        class="primary"
        [disabled]="!addForm.valid"
      >
        Submit
      </button>
    </form>
    <div *ngIf="success" class="notification is-success">
      Match Added!!
    </div>
  </div>
</div>